

 <div class="contenedor-redes-inicio  ">
    <div class="datos-inicio">
        <i class="fas fa-map"> bienesraices@55gmail.com</i>
        <i class="fas fa-phone"> Telefono:989-78-98-88</i>
    </div>


    <nav class="redes-inicio">
        <article class="iconos-inicio">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram-square"></i>
        </article>

    </nav>

</div>



<div class="bloque-cabecera-inicio  navegar">
    <div class="titulo_cabecera">
        <h1 class="titulo"><b class="titulo_opacidad">BIENES</b>RAICES</h1>


    </div>


    <nav class="navegacion">
        <a href="#">Inicio</a>
        <a href="nosotros.html">Nosotros</a>
        <a href="Anuncios.html">Anuncios</a>
        <a href="Blog.html">Blog</a>
        <a href="Contacto.html">Contacto</a>

    </nav>

</div>

<div class="scrol">

</div>

<header class="cabecera">

    <div class="formulario_index">
        <h2 class="titulo_seccion_index">BIENESRAICES <strong class="encuentra">encuentra</strong> tu casa ideal
        </h2>

        <form action="consulta.php" class="formulario_consulta" id="formulario_consulta" method="POST">
            <select name="compra" id="compra" class="compra">
                <option value="comprar">Comprar</option>
                <option value="vender">Vender</option>
                <option value="alquilar">Alquilar</option>
            </select>
            <select name="tipo" id="tipo" class="tipo">
                <option class="opcion" value="chalet">Chalet</option>
                <option value="piso">Piso</option>
                <option value="duplex">Duplex</option>
                <option value="estudio">Estudio</option>
            </select>

            <select name="habitaciones" id="habitaciones" class="habitaciones">
                <option value="" selected>Habitaciones</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <div>
                <button type="submit" class="boton_consulta" id="enviar_consulta"
                    name="enviar_consulta">BUSCAR</button>

            </div>


        </form>

    </div>




</header>