
 <footer class="pie">

    <article class="legal">
        <h4 class="titulo_legal">Seccion legal</h4>
        <ul>
            <li class="politica"><a href="Politica_privacidad.html">Politica de privacidad</a></li>
            <li><a href="aviso_legal.html">Aviso legal</a></li>
            <li><a href="cookies.html">Cookies</a></li>
        </ul>
    </article>

    <article class="direccion">
        <h4 class="titulo_mapa">Mapa</h4>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3043.990556986368!2d-3.792138684746782!3d40.27595997938173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418b1b6f3885f9%3A0x3b6e89461db52a31!2sCalle%20de%20la%20Fontana%2C%2014%2C%2028944%20Fuenlabrada%2C%20Madrid!5e0!3m2!1ses!2ses!4v1618613708494!5m2!1ses!2ses"
            width="250" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    </article>

    <article class="direccion_dos">
        <h4 class="titulo_direccion_dos">Nuestra direccion</h4>
        <p>Direccion:Calle fontana 4</p></i>
        <p>Telefono:989-78-98-88</p>
        <p>constructura@55gmail.com</p>
        <p>Horario de atencion:</p>
        <p>Lunes a vienes de 10:00 A 15:00</p>

    </article>

    <article class="menu">
        <h4 class="titulo_menu">Menu</h4>
        <ul>
            <li class="nosotros"><a href="nosotros.html">Nosotros</a></li>
            <li><a href="anuncios.html">Anuncios</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>

    </article>

    <article class="redes">
        <h4 class="titulos_redes">Tambien los puedes encontrar</h4>

        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram-square"></i>

    </article>

</footer>

<div class="footer_final">
    <p class="texto_footer_final">© 2021 todos los derechos reservados </p>

</div>

<div class="cookies">
    <p>Utilizamos cookies propias y de terceros para recopilar información que ayuda a optimizar
        su visita a sus páginas web. No se utilizarán las cookies para recoger información de carácter personal.
        Usted puede permitir su uso o rechazarlo, también puede cambiar su configuración siempre que lo desee.
        Encontrará más información en nuestra Política de Cookies</p>

    <div class="boton_cookies">
        <button class="boton_aceptar">Aceptar cookies</button>
        <a href="politica_privacidad.html"> <button class="boton_politica">Politica de cookies</button></a>


    </div>