

   <header class="cabecera_nosotros">

    <div class="bloque_cabecera_nosotros">
        <div class="titulo_cabecera_nosotros">
            <h1 class="titulo"><b class="titulo_opacidad">BIENES</b>RAICES</h1>

        </div>


        <nav class="navegacion color">
            <a href="/">Inicio</a>
            <a href="nosotros">Nosotros</a>
            <a href="Anuncios">Anuncios</a>
            <a href="Blog">Blog</a>
            <a href="Contacto">Contacto</a>
            

        </nav>

    </div>



</header>