

<section class="contenedor seccion">

    <h2 class="titulo-nosotros">Mas Sobre Nosotros</h2>

    <div class="nosotros">


        <article class="articulo_primero-nosotros">
            <img src="/img/icono1.svg" alt="imagen de un candado">
            <h3>SEGURIDAD</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's
                printing and typesetting industry.


            </p>
        </article>

        <article class="articulo_primero-nosotros">
            <img src="/img/icono2.svg" alt="imagen de billetes">
            <h3>EL MEJOR PRECIO</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's
                the printing and typesetting industry.

            </p>
        </article>

        <article class="articulo_primero-nosotros">
            <img src="/img/icono3.svg" alt="imagen de un relog">
            <h3>A TIEMPO</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's
                the printing and typesetting industry.

            </p>
        </article>

    </div>
</section>
